<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Postcard!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in your name and your friend's name to create your custom postcard!</h1>
    <form action="/MadLib" method="post">
      <label for="">Noun #1</label>
      <input id="noun1" name="noun1" type="text">
      <label for="">Noun #2</label>
      <input id="noun2" name="noun2" type="text">
      <label for="">Noun #3</label>
      <input id="noun3" name="noun3" type="text">
      <label for="">Adverb #1</label>
      <input id="adverb1" name="adverb1" type="text">
      <label for="">Adverb #2</label>
      <input id="adverb2" name="adverb2" type="text">
      <label for="">Verb #1</label>
      <input id="verb1" name="verb1" type="text">
      <label for="">Past tense verb #1</label>
      <input id="verbpasttense1" name="verbpasttense1" type="text">
      <label for="">Past tense verb #2</label>
      <input id="verbpasttense2" name="verbpasttense2" type="text">
      <label for="">Adjective #1</label>
      <input id="adjective1" name="adjective1" type="text">
      <label for="">Adjective #2</label>
      <input id="adjective2" name="adjective2" type="text">
      <label for="">Adjective #3</label>
      <input id="adjective3" name="adjective3" type="text">
      <label for="">Adjective #4</label>
      <input id="adjective4" name="adjective4" type="text">
      <button type="submit">Go!</button>
    </form>
  </body>
</html>